.detail{

}
.detail{
	width:100%;
	height:100%;
}
.detail .top{
	padding:0 20px;
	display: flex;
	justify-content: space-between;
	height:47px;
	line-height: 47px;
	box-shadow: -10px 0 10px #000;
	background:#f9fafb;
}

.detail .top h2{
	font-size:18px;
	color:#777;
	overflow: hidden;
}
.detail .top i{
	font-size:30px;
	color:#aaa;
	font-weight:600;
}

.detail .bigpic img{
	height:255px;
	width:100%;
}
.detail .introduce{
	/*height:93px;*/
	border-bottom: 1px solid #ccc;
	background:#fff;
}
.detail .introduce p{
	text-align: left;
	line-height: 45px;
	padding: 0 15px;
}
.detail .introduce .p1 .globa{
	height:17px;
	width:62px;
	background:#ff9000;
	color:#fff;
	font-size: 14px;
	padding: 0 10px;


}
.detail .introduce .p2 .pricenow{
	font-size: 30px;
	color:#fc2064;
}
.detail .introduce .p2 .priceold{
	font-size: 18px;
	color:#909090;
	text-decoration:line-through;
}


.detail .appraise{
	margin-top:15px;
	font-size: 15px;
}
.detail .appraise li{
	height:72px;
	line-height: 36px;
	border-bottom: 1px solid #ccc;
	background:#fff;
	padding: 0 15px;
	text-align: left;
}
.detail .appraise li.list_1{
	height:42px;
	border-top: 1px Solid #ccc;
	line-height: 42px;
}
.detail .appraise li .agree{
	color:#fc2064;
	font-size: 14px;
	margin-right:20px;
}
.detail .appraise li .padd{
	padding:0 5%;
}
.detail .appraise li span{
	font-size: 14px;
}
.detail .childpostion{
	margin-top:15px;
	height:37px;
	background:#fff;
	border:1px solid #ccc;
	font-size: 14px;
}
.detail .childpostion div{
	width:50%;
	height:100%;
	text-align: center;
	line-height: 37px;

}
.detail .information_1 .top_1{
	height:67px;
	text-align: left;
	line-height: 30px;
	padding-left:20px; 
}
.detail .information_1{
	padding:15px;
	background:#fff;
	position: relative;

}
.detail .information_1 .top_1 span{
	color:#ff0056;
	font-size: 14px;
}
.detail .information_1 .posto{
	height:50px;
	width:3px;
	position: absolute;
	left:15px;
	top:20px;
	background:#ff0056;

}
.detail .information_1 table{
	border-spacing: 0;
	font-size: 14px;
}
.detail .information_1 table th{
	width:33%;
	padding-left:5px;
	border:1px solid #ccc;
	padding:10px 5px;
	background:#f7f7f7;

}
.detail .information_1 table td{
	width:66%;
	padding-left:5px;
	border:1px solid #ccc;
}
.detail .information_1 table{
	width:100%;
}
.detail .information_1 .lookpic{
	height:90px;
	width: 100%;
	line-height: 40px;
	text-align: center;
	margin-top:10px;
	font-size: 18px;

}
.detail .instruction_1{
	background:#fff;
	padding:15px;
	display: none;
}
.detail .instruction_1 ul{
	list-style: none;
}
.detail .instruction_1 ul li p{
	text-align: left;
	font-size: 16px;
}
.detail .instruction_1 ul li h3{
	height:40px;
	line-height: 40px;
	font-size: 18px;
}

.detail .buy{
	height:70px;
	line-height:70px;
	font-size: 18px;
}
.detail .like{
	background:#fff;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.detail .like dl{
	width:50%;
	border:1px solid #ccc;
	height:233px;
	box-sizing:border-box;
	padding:10px;
}
.detail .like dl dt{
	height:186px;
	width:100%;
}
.detail .like dl dt img{
	width:100%;
	height:100%;
	border:0;
}
.detail .like dl dd span.l{
	padding-right:3px;
		width:35%;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		font-size: 16px;
}
.detail .like dl dd span.r{
		width:55%;
		text-align: left;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		font-size: 16px;

}
.detail .addcart{
	width:100%;
	height:50px;
	position: fixed;
	bottom: 0;
	left:0;
	margin-top:50px;
	z-index: 2;
	line-height: 50px;
}
.detail .addcart .left{
	width:70%;
	text-align: left;
	display: inline-block;
	background:#4c4c4c;
	color:#fff;
	
}
.detail .addcart i{
	font-size: 30px;


}
	

.detail .addcart .right{
	width:30%;
	background:red;
	text-align: center;
	display: inline-block;
	color:#fff;
	font-size: 20px;
	font-weight: 900
	
}



.man{
	background:#fff;
	margin:10px 0;
	text-align: left;
	
	padding:10px 10px;
}
.man p{
	font-size: 14px;
}
.man p span{
	display: inline-block;
	padding:3px;
	background:#fc3170;
	color:#fff;
	margin-right:10px;
	margin-top:10px;
	border-radius: 5px;
}

.detail .allimages{
	margin-top:-50px;
}
.detail .allimages img{
		width:100%;
}


.detail .foote{
	margin-bottom: 80px;
}