@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
input,img{
	border:none;
}
*{
	padding:0;
	margin:0;
}
.l{
	float:left;
}
.r{
	float:right;
}
a{
	text-decoration: none;
	color:#000;
}
.login{
	width:100%;
	height:100%;
}
.login .top{
	padding:0 20px;
	display: flex;
	justify-content: space-between;
	height:47px;
	line-height: 47px;
	box-shadow: -10px 0 10px #000;
	background:#f9fafb;
}
.login .top h2{
	font-size:20px;
	font-weight:600;
	color:#777;
}
.login .top i{
	font-size:25px;
	color:#aaa;
	font-weight:600;
}
.login .bottom{
	padding:30px 20px;
}
.login .bottom input.i1{
	width:97%;
	height:45px;
	border: 1px solid #ddd;
    padding-left:10px;
    font-size: 13px;
    transition: border-color .1s ease-in-out;
}
.login .bottom .p1{
	height:55px;
	text-align:left;
	line-height:55px;
	padding:0 15px;
}
.login .bottom .p1 .s1{
	display:block;
	width:17px;
	height:17px;
	margin-right:10px;
	border-radius: 50%;
	border:1px solid #ccc;
	margin-top:5%;
	background:#ff0056;
	color:#fff;
	line-height:17px;
	text-align:center;
}
.login .bottom .p1 .s2{
	font-size:100%;
}
.login .bottom button{
	height:49px;
	border-radius: 5px;
	background:#ff0056;
	width: 100%;
	border:none;
	color:#fff;
	font-size:18px;
}
.login .bottom .other{
	overflow:hidden;
}
.login .bottom p.r{
	padding-top:10px;
}
.login .bottom p.r a{
	margin:0 4px;
	font-size:14px;
	color:#72b5d9;
}